<!DOCTYPE html>
<html>
    <head> 
        <title>Clash of Clans war stats</title>
    </head>
    <body>
        <h1>Clash of Clans War Stats</h1>
        <input id="ClanSearch" type="text"  onkeyup="search_clan()" placeholder="Search for a Clan">
        <input id="PlayerSearch" type="text" onkeyup="search_player()" placeholder="Search for a player">
        <p>
            <%= clan.tag %>
            <%= clan.name %>
        </p>
    </body>
</html>